img{
    width: 100%;
}

.page-body{
    display: flex;
    align-items: center;
}
.section{
    margin-top: 50px;
    padding: 50px;
}
.holder{
    display: flex;
    justify-content: center;
}
.btn{
    font-size: 30px;
}

.france{
    background-color: red;
}

.britian{
    background-color: blue;
}

.text{
    color: black;
}